<div class="nested-fields">
  <div class="form-group">
    <div class="form-inline">
      <div class="container-fluid row">
        <%= form.hidden_field :destroy %>
        <%= form.text_field :name, placeholder: 'Exercise Name', class: 'form-control' %>
        <%= form.text_field :reps, placeholder: 'Reps/Distance', class: 'form-control' %>
        <%= form.text_field :weight, placeholder: 'Weight', class: 'form-control' %>
        <%= form.text_field :weight_unit, placeholder: 'Unit', class: 'form-control' %>
        <%= form.number_field :hours, placeholder: 'Hours', class: 'form-control' %>
        <%= form.number_field :minutes, placeholder: 'Minutes', class: 'form-control' %>
        <%= form.number_field :seconds, placeholder: 'Seconds', class: 'form-control' %>
        <small>
          <%= link_to "Remove", "#", data: { action: "click->nested-form#remove_association" } %>
        </small>
      </div>
    </div>
  </div>
</div>