<div class="container-fluid">
  <%= form_with(model: @workout, local: true) do |form| %>
    <% if @workout.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

        <ul>
          <% @workout.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="container-fluid align-items-center">
      <form>
        <div class="container-fluid">
          <%= form_for @workout do |f| %>
            <div class="form-group">
              <h2><%= f.label :date %></h2>
              <div style="font-size: 18pt"><%= f.date_field :date %></div>
            </div>
          <% end %>
        </div>

        <div class="container-fluid">
          <div data-controller="nested-form">
            <br><br>
            <h2>Exercises</h2>
            <template data-target="nested-form.template">
              <%= form.fields_for :exercises, Exercise.new, child_index: 'TEMPLATE_RECORD' do |exercise| %>
                <%= render 'exercise_fields', form: exercise %>
              <% end %>
            </template>

            <%= form.fields_for :exercises do |exercise| %>
              <%= render 'exercise_fields', form: exercise %>
            <% end %>

            <div data-target="nested-form.add_exercise">
              <br>
              <a role="button" class="btn btn-outline-secondary btn-lg"
              <%= link_to "Add Exercise", "#", data: { action: "nested-form#add_association" } %>
            </div>
          </div>
        </div>

        <br><br>

        <div class="actions" >
          <%= form.submit %>
        </div>
      </form>
    </div>
  <% end %>
</div>