<h1>Workouts</h1>

<div>
  <%= link_to "New Workout", new_workout_path %>
</div>

<div id="workouts">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @workouts_by_date[date] %>
      <ul>
        <% @workouts_by_date[date].each do |workout| %>
          <li><%= link_to workout.date, workout %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

<%= link_to "Log Out", "/log_out" %>