<h1>Workouts</h1>

<div>
  <%= link_to "New Workout", new_workout_path %>
</div>

<div>
  <% @workouts.each do |workout| %>
    <div>
      <h3><%= link_to workout.date, workout_path(workout) %></h3>
      <ul>
        <li><%= link_to "Edit", edit_workout_path(workout) %></li>
        <li><%= link_to "Delete", workout_path(workout), data: {
            confirm: "Are you sure you want to delete the workout on: #{workout.date}?",
        }, method: :delete %></li>
      </ul>
    </div>
  <% end %>
</div>

<%= link_to "Log Out", "/log_out" %>