<div class="container-fluid text-center">
  <h1><%= @formatted_workout_date %></h1>

  <h3>Exercises</h3>

  <table class="table table-dark table-striped">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Reps</th>
      <th scope="col">Weight</th>
      <th scope="col">Unit</th>
      <th scope="col">Time</th>
    </tr>
    </thead>

    <tbody>
    <% @workout.exercises.each do |exercise| %>
      <tr>
        <td><%= exercise.name %></td>
        <td><%= exercise.reps %></td>
        <td><%= exercise.weight %></td>
        <td><%= exercise.weight_unit %></td>
        <td><%=
          if exercise.hours.blank? && exercise.minutes.blank? && exercise.seconds.blank?
            ""
          else
            "#{exercise.hours}:#{exercise.minutes}:#{exercise.seconds}"
          end%>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="col">
    <ul>
      <li><%= link_to "Back", workouts_path %></li>
      <li><%= link_to "Edit", edit_workout_url(@workout) %></li>
      <li><%= link_to "Delete", workout_path(@workout), data: {
          confirm: "Are you sure you want to delete the workout on: #{@workout.date}?",
      }, method: :delete %></li>
    </ul>
  </div>
</div>